.card-form {
  &__title {
    margin-top: 40px;
    text-align: left;
    font-weight: bold;
  }

  &__content {
    input,
    textarea {
      width: 100%;
      margin-bottom: 20px;
      line-height: 20px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
