.blog {
  position: relative;

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: auto;
  }

  &__addbtn {
    position: fixed;
    z-index: 30;
    right: 30px;
    bottom: 100px;
  }
}
